* {
    font-family: "League Spartan", sans-serif;
    padding: 0px;
    box-sizing:content-box;
}
.main_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h5{
    color: white;
}
.theme-toggle label{
    color: white;
}

body {
    background-color: hsl(222, 26%, 31%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 100vh;
    gap: 20px;
    padding-top: 80px;
}

.child2_container {
    height: 110px;
    background-color: hsl(224, 36%, 15%);
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 8px;
}

#display {
    text-align: end;
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 36%, 15%);
    border: none;
    font-size: 50px;
    font-weight: 700;
    padding-right: 10px;
}

.child1_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child1_container h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: hsl(0, 0%, 100%);
}

#display:active {
    border: none;
    outline: none;
}

#display:focus {
    border: none;
    outline: none;
}

.main_container {
    max-width: 460px;
    overflow: hidden;
}

.child3_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: hsl(223, 31%, 20%);
    border-radius: 8px;
}

#num_opres,
#num_opequ {
    grid-column: span 2;
}


.num_btn,.del_btn {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 0;
    background-color: hsl(30, 25%, 89%);
    transition: all 0.3s ease;
    box-shadow: hsl(28, 16%, 65%) 0px 4px 0px 0px;
    color: hsl(221, 14%, 31%);
    cursor: pointer;
    font-size: 30px;

}

.num_btn:hover {
    box-shadow: hsl(28, 16%, 65%) 0px 7px 0px 0px;
}

.num_btn:active {
    background-color: hsl(30, 25%, 89%);
    box-shadow: hsl(28, 16%, 65%) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}


.del_btn, #num_opres{
    background-color: hsl(225, 21%, 49%);
    box-shadow: hsl(224, 28%, 35%) 0px 4px 0px 0px;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
}

.del_btn:hover {
    box-shadow: hsl(224, 28%, 35%) 0px 7px 0px 0px;
}

#num_opres:hover {
    box-shadow: hsl(224, 28%, 35%) 0px 7px 0px 0px;
}

.del_btn:active {
    background-color: hsl(225, 21%, 49%);
    box-shadow: hsl(224, 28%, 35%) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

#num_opres:active {
    background-color: hsl(225, 21%, 49%);
    box-shadow: hsl(224, 28%, 35%) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

#num_opequ {
    background-color: hsl(6, 63%, 50%);
    color: hsl(0, 0%, 100%);
    box-shadow: hsl(6, 70%, 34%) 0px 4px 0px 0px;
}

#num_opequ:hover {
    box-shadow: hsl(6, 70%, 34%) 0px 7px 0px 0px;
}

#num_opequ:active {
    background-color: hsl(6, 63%, 50%);
    box-shadow: hsl(6, 70%, 34%) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

#mul_btn {
    font-size: 18px;
}




body.theme1 {
    background-color: hsl(222, 26%, 31%);
    color: white;
}
/* Theme 2 */
body.theme2 {
    background-color: hsl(0, 0%, 90%);
    
}
body.theme2 .num_btn{
    color: hsl(60, 10%, 19%);
    
}
body.theme2 #display{
    background-color: hsl(0, 0%, 93%);
    color: hsl(60, 10%, 19%);
}
body.theme2 .child2_container{
    background-color: hsl(0, 0%, 93%);
}
body.theme2 .Calc_text{
    color: hsl(60, 10%, 19%);
}
body.theme2 .child3_container{
    background-color: hsl(0, 5%, 81%);
}
body.theme2 .del_btn,
body.theme2 #num_opres{
    background-color: hsl(185, 42%, 37%);
    box-shadow: hsl(185, 58%, 25%) 0px 4px 0px 0px;
    
}
body.theme2 .del_btn:hover,
body.theme2 #num_opres:hover{
    background-color: hsl(185, 56%, 57%);
    box-shadow: hsl(185, 58%, 25%) 0px 7px 0px 0px;
}
body.theme2 .del_btn:active,
body.theme2 #num_opres:active{
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0px 0px 0px 0px;
    transform: translateY(5px);
}
/* Theme 3 */
body.theme3 {
    background-color: hsl(268, 75%, 9%);
    color: hsl(52, 100%, 62%);
}
body.theme3 .num_btn{
    color: hsl(52, 100%, 62%);
    background-color: hsl(268, 47%, 21%);
    box-shadow: hsl(290, 70%, 36%) 0px 4px 0px 0px;
    
}
body.theme3 .num_btn:hover{
    
    background-color: hsl(268, 47%, 21%);
    box-shadow: hsl(290, 70%, 36%) 0px 7px 0px 0px;
}
body.theme3 .num_btn:active{
    
    background-color: hsl(268, 47%, 21%);
    box-shadow: hsl(290, 70%, 36%) 0px 0px 0px 0px;
}
body.theme3 #display{
    background-color: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%);
}
body.theme3 .child2_container{
    background-color:  hsl(268, 71%, 12%);
}
body.theme3 .Calc_text{
    color: hsl(52, 100%, 62%);
}
body.theme3 .child3_container{
    background-color:  hsl(268, 71%, 12%);
}
body.theme3 .del_btn,
body.theme3 #num_opres{
    background-color: hsl(281, 89%, 26%);
    box-shadow: hsl(285, 91%, 52%) 0px 4px 0px 0px;
    
}
body.theme3 .del_btn:hover,
body.theme3 #num_opres:hover{
    background-color: hsl(281, 89%, 26%);
    box-shadow: hsl(285, 91%, 52%) 0px 7px 0px 0px;
}
body.theme3 .del_btn:active,
body.theme3 #num_opres:active{
    background-color: hsl(281, 89%, 26%);
    box-shadow: hsl(285, 91%, 52%) 0px 0px 0px 0px;
    transform: translateY(5px);
}
body.theme3 #num_opequ{
    background-color: hsl(176, 100%, 44%);
    color: black;
    box-shadow: hsl(177, 92%, 70%) 0px 4px 0px 0px;
}
body.theme3 #num_opequ:hover{
    background-color: hsl(176, 100%, 44%);
    box-shadow: hsl(177, 92%, 70%) 0px 7px 0px 0px;
}
body.theme3 #num_opequ:active{
    box-shadow: hsl(177, 92%, 70%) 0px 0px 0px 0px;
}







.theme-toggle {
    
    top: 20px;
    right: 10px;
}

.theme-toggle .theme_button {
    position: relative;
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 25px;
    background-color: hsl(224, 36%, 15%);
    cursor: pointer;
    outline: none;
}

.theme-toggle .circle {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: hsl(25, 98%, 40%);
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.3s ease;
    left: 4px;
}

body.theme1 .circle {
    left: 4px;
    background-color: hsl(25, 98%, 40%);
}

body.theme2 .circle {
    left: 39%;
    background-color: hsl(25, 98%, 40%);
}

body.theme3 .circle {
    left: 74%;
    background-color: hsl(176, 100%, 44%);
}
body.theme2 .theme_button{
    background-color: #ccc;
}
body.theme3 .theme_button{
    background-color: hsl(268, 71%, 12%);
}




.theme_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme_container h5{
    margin-right: 5px;
    padding-top: 18px;
    font-size: 10px;
}
.theme-toggle label{
    margin-bottom: 2px; 
    display: block; 
    letter-spacing: 6px; 
    padding-left: 6px; 
    font-size: 12px;
}


@media only screen and (max-width:375px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main_container{
        width: 300px;
    }
    .child2_container{
        height: 90px;
    }
}